<div class="jumbotron jumbotron-fluid text-center">
  <h1 class="display-3">WebApp</h1>
  <h5 class="display-5">
    <i class="fas fa-chart-area"></i> Maximizing Your Data
    <i class="fas fa-chart-line"></i>
  </h5>
  <br />
  <p>by Jonathan Daniel</p>
</div>
<div class="col-md-10 mx-auto row mb-5 mt-5">
  <app-gauge class="col-md-6"></app-gauge>
  <app-line class="col-md-6"></app-line>
</div>
<hr />
<div class="col-md-10 mx-auto row mb-5 mt-5">
  <app-pie class="col-md-6"></app-pie>
  <app-textualdata class="col-md-6"></app-textualdata>
</div>